.benefits {
    background-color: #f6f6f6;
    padding: 70px 0 65px;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: $main-color-text;
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item + &__item {
        margin-left: 66px;
    }
    &__item {
        margin-top: 60px; /*  font-family: 'MuseoModerno'; */
        max-width: 275px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
        &-title {
            margin-top: 35px;
            color: $main-color-text;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
        }
    }
    &__descr {
        margin-top: 20px;
        color: $main-color-text;
        span > a {
            font-family: "MuseoModerno", serif;
            color: $main-color;
            text-decoration: underline;
        }
    }
}

@media (max-width: 724px) {
    .benefits {
        &__items {

            justify-content: space-around;
        }
        &__item{ 
            max-width: 240px;
            margin-top: 40px;
        }
        &__item + &__item {
            margin-left: 0;
        }
    }
}



@media (max-width: 425px) {
    .container {
        max-width: 400px;
    }
    .benefits {
        &__title{
            font-size: 22px;
        }
        &__item + &__item {
            margin-left: 0;
        }
    }
}
