.button {
    background-color: $main-color;
    width: 153px;
    height: 32px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    transition: 0.3s all;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    &_main {
        margin-top: 65px;
        width: 303px;
        height: 54px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
    &_form {
        font-size: 16px;
        line-height: 25px;
        width: 303px;
        height: 54px;
        
    }
    &_card {
        width: 135px;
        height: 44px;
        font-weight: 500;
        font-size: 14px;
        line-height: 44px;
    }
}
